<!DOCTYPE html>
<html dir="rtl" lang="he">

<head>
    <script type="text/javascript" src="/javascripts/attraction.js"></script>
    <script type="text/javascript" src="/javascripts/functionAtt.js"></script>
    <script type="text/javascript" src="/javascripts/GeneralFunctions.js"></script>
    <script type="text/javascript" src="/javascripts/geocode.js"></script>


    <%- include('include/start.ejs') %>
    <%- include('include/titleWeb.ejs') %>
    <%- include('include/returnLandingPage.ejs') %>
    <%- include('include/modle.ejs') %>

    <div class="container-fluid  text-right">
        <div class="d-none text-center" id="pulley">
            <img src  ="/images/imag.gif "  class=" center " width = 100px height=100px   >
            <span><h4>המתן...</h4></span>

        </div>
        <div id="result"></div>
        <button class="btn btn-outline-warning d-none" id="moreAtt" >תוצאות נוספות</button>

    </div>
    <!-- I am using this paragraph to insert the result in the HTML page - or an error message -->
    <!-- Optional JavaScript; choose one of the two! -->
    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
            src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap&libraries=&v=weekly"

            async
    ></script>

    <%- include('include/end.ejs') %>


